@{
    Layout = "_Layout";
}

<!-- Page Header  -->
<div class="panel-header bg-white">
    <div class="page-inner">
        <div class="owner-container">
            <!-- Owner Avatar -->
            <div class="owner-img-container">
                <img src="@ViewData["Owner.Avatar"]" alt="">
            </div>
            
            <div class="owner-content">
                <!-- Owner Name -->
                <div class="owner-head">
                    <h3>@ViewData["Owner.Username"]</h3>
                    <a href=""><h5>@Html.Raw("@")@ViewData["Owner.Tagname"]</h5></a>
                </div>
                
                <!-- Owner Data -->
                <div class="owner-data">
                    <button class="btn btn-secondary mr-1">
                        <span class="btn-label">
                            <i class="fas fa-clone"></i>
                        </span>&ensp;
                        Học phần (@ViewData["Owner.SetCount"])
                    </button>

                    <button class="btn btn-success mr-1">
                        <span class="btn-label">
                            <i class="fas fa-folder"></i>
                        </span>&ensp;
                        Thự mục (@ViewData["Owner.FolderCount"])
                    </button>

                    <button class="btn btn-info">
                        <span class="btn-label">
                            <i class="fas fa-user"></i>
                        </span>&ensp;
                        Lớp học (@ViewData["Owner.ClassCount"])
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- Page Content  -->
<div class="page-inner">
    <div class="page-category">
        <div class="col-md-12">
            <!-- Folder 1  -->
            <div class="card cardHoverLine card-stats card-round">
                <div class="card-body">
                    <div class="card-category">
                        @ViewData["Folder.ID1.Count"] học phần
                    </div>
                    <i class="far fa-folder card-title"></i>&emsp;
                    <a href="" class="card-title text-uppercase" style="text-decoration: none;">
                        <b>@ViewData["Folder.ID1.Name"]</b>
                    </a>
                </div>
            </div>

            <!-- Folder 2  -->
            <div class="card cardHoverLine card-stats card-round">
                <div class="card-body">
                    <div class="card-category">
                        @ViewData["Folder.ID2.Count"] học phần
                    </div>
                    <i class="far fa-folder card-title"></i>&emsp;
                    <a href="" class="card-title text-uppercase" style="text-decoration: none;">
                        <b>@ViewData["Folder.ID2.Name"]</b>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>