@model Application.ViewModels.UserViewModel

<div class="page-inner">
    <!-- Page Url  -->
    <div class="page-header">
        <h4 class="page-title">@ViewData["Page.Target"]</h4> <!-- Page Target Big -->
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="fas fa-angle-right"></i>
            </li>
            <li class="nav-item">
                Trang
            </li>
            <li class="separator">
                <i class="fas fa-angle-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">@ViewData["Page.Target"]</a> <!-- Page Target Small -->
            </li>
        </ul>
    </div>

    <!-- Page Content  -->
    <div class="page-category">
        <div class="card profile">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="@Model.user.avatar" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Thay ảnh
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                            <h5>
                                @Model.user.ID
                            </h5>
                            <h6>
                                @Html.Raw("@")@Model.user.tagname
                            </h6>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Thông tin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Lịch sử</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a asp-controller="User" asp-action="Edit" class="profile-edit-btn btn-danger" name="btnAddMore">Chỉnh sửa</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>Tiến trình</p>
                            <a asp-controller="User" asp-action="Sets" class="btn btn-secondary text-white mb-3" style="width: 100%;">
                                <span class="btn-label">
                                    <i class="fas fa-clone"></i>
                                </span>&ensp;
                                Học phần (@ViewData["User.SetCount"])
                            </a><br>

                            <a asp-controller="User" asp-action="Folders" class="btn btn-success text-white mb-3" style="width: 100%;">
                                <span class="btn-label">
                                    <i class="fas fa-folder"></i>
                                </span>&ensp;
                                Thự mục (@ViewData["User.FolderCount"])
                            </a><br>

                            <a asp-controller="User" asp-action="Classes" class="btn btn-info text-white mb-3" style="width: 100%;">
                                <span class="btn-label">
                                    <i class="fas fa-user"></i>
                                </span>&ensp;
                                Lớp học (@ViewData["User.ClassCount"])
                            </a><br>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>@Model.user.email</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Quốc gia</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>@Model.user.contry</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <table class="table table-bordered table-head-bg-primary">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Tìm lịch sử...">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                    <thead>
                                        <tr>
                                            <th scope="col">Vào lúc</th>
                                            <th scope="col">Nội dung kiểm tra</th>
                                            <th scope="col">Điểm</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>12:05 - 03/12/2020</td>
                                            <td>Tiếng anh viết và đọc</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>17:21 - 15/11/2020</td>
                                            <td>Tiếng trung cơ bản</td>
                                            <td>7</td>
                                        </tr>
                                        <tr>
                                            <td>08:33 - 05/11/2020</td>
                                            <td>TA chuyên nghành IT</td>
                                            <td>8</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>