@model Application.ViewModels.UserViewModel  

<!-- Page Header  -->
<div class="panel-header bg-white">
    <div class="page-inner">
        @await Html.PartialAsync("~/Views/Shared/_ownerLayout.cshtml")
    </div>
</div>

<!-- Page Content  -->
<div class="page-inner">
    <div class="page-category">
        <!-- Recent  -->
        <div class="col-md-12">
            <h3><b>Gần nhất</b><hr style="float: right; width: 47vw; border-bottom: 1px solid black;"/></h3>
            <!-- Set 1 -->
            <div class="card cardHoverLine card-stats card-round">
                <div class="card-body">
                    <div class="card-category">
                        @ViewData["Set.ID1.Count"] thuật ngữ
                    </div>
                    <a href="#" class="card-title text-uppercase" style="text-decoration: none;">
                        <b>@ViewData["Set.ID1.Name"]</b>
                    </a>
                    &emsp;
                    <i class="card-category far fa-image"></i>
                    <i class="card-category fas fa-lock"></i>
                </div>
            </div>

        </div>

        <!-- This week  -->
        <div class="col-md-12">
            <h3><b>Tuần này</b><hr style="float: right; width: 47vw; border-bottom: 1px solid black;"/></h3>
            <!-- Set 2 -->
            <div class="card cardHoverLine card-stats card-round">
                <div class="card-body">
                    <div class="card-category">
                        @ViewData["Set.ID2.Count"] thuật ngữ
                    </div>
                    <a href="#" class="card-title text-uppercase" style="text-decoration: none;">
                        <b>@ViewData["Set.ID2.Name"]</b>
                    </a>
                    &emsp;
                    <i class="card-category far fa-image"></i>
                    <i class="card-category fas fa-lock"></i>
                </div>
            </div>
            
            <!-- Set 3 -->
            <div class="card cardHoverLine card-stats card-round">
                <div class="card-body">
                    <div class="card-category">
                        @ViewData["Set.ID3.Count"] thuật ngữ
                    </div>
                    <a href="#" class="card-title text-uppercase" style="text-decoration: none;">
                        <b>@ViewData["Set.ID3.Name"]</b>
                    </a>
                    &emsp;
                    <i class="card-category far fa-image"></i>
                    <i class="card-category fas fa-lock"></i>
                </div>
            </div>
        </div>

        <!-- Last week  -->
        <div class="col-md-12">
            <h3><b>Tuần trước</b><hr style="float: right; width: 47vw; border-bottom: 1px solid black;"/></h3>
            <!-- Set 4 -->
            <div class="card cardHoverLine card-stats card-round">
                <div class="card-body">
                    <div class="card-category">
                        @ViewData["Set.ID4.Count"] thuật ngữ
                    </div>
                    <a href="#" class="card-title text-uppercase" style="text-decoration: none;">
                        <b>@ViewData["Set.ID4.Name"]</b>
                    </a>
                    &emsp;
                    <i class="card-category far fa-image"></i>
                    <i class="card-category fas fa-lock"></i>
                </div>
            </div>
            
            <!-- Set 5 -->
            <div class="card cardHoverLine card-stats card-round">
                <div class="card-body">
                    <div class="card-category">
                        @ViewData["Set.ID4.Count"] thuật ngữ
                    </div>
                    <a href="#" class="card-title text-uppercase" style="text-decoration: none;">
                        <b>@ViewData["Set.ID4.Name"]</b>
                    </a>
                    &emsp;
                    <i class="card-category far fa-image"></i>
                    <i class="card-category fas fa-lock"></i>
                </div>
            </div>
        </div>

    </div>
</div>